
.aboutme {
  margin-top: 10vw;
}

.container1 {
  float: left;
  margin-left: 4vw;
    margin-right: 4vw;
  width: 92vw;
  position: relative;
}


.container1-2 {
  float: left;
  margin-left: 4vw;
    margin-right: 4vw;
  width: 92vw;
  position: relative;
}

.soojinlogo {
  position: absolute;
margin-left: 20vw;
  width: 50vw;
  margin-top: 3vw;
  z-index: -2;

}
.circle-yellow {
  position: absolute;
  width: 15vw;
  height: 15vw;
border-radius: 50%;
  background-color: #FFD057;
  z-index: -999;
  margin-left: 17vw;
    margin-top: 2vw;
}

.circle {
  position: absolute;
  width: 25vw;
  height: 25vw;
border-radius: 10% 30% 50% 70%;
  background-color: #E75C40;
  z-index: -999;
  margin-left: 17vw;
    margin-top: 20vw;
}

.soojinWhite {
  position: absolute;
  margin-left: 22vw;
    margin-top: 24vw;
}

.circle-blue {
  position: absolute;
  width: 10vw;
  height: 5vw;
border-radius: 10vw 10vw 0% 0vw;
  background-color: #5B6399;
  z-index: -999;
left: 35vw;
  bottom: 0;
}


.about {
  width: 100%;
    display: flex;
     opacity: 1;
}


.left-1 {
    width: 50%;
  justify-content: center;
  font-family: proxima-nova, sans-serif;
   font-weight: 200;
  font-size: 1.5vw;
   align-content: center;
}

.container1 .left-1 {
}

.question{
  margin-top: 30%;
  display: flex;
width: 90%;
height: 50%;
  background-color: #E75C40;
}

.looking {
  text-align: right;
}


ul{
    font-family: proxima-nova, sans-serif;
   font-weight: 200;
  font-size: 1.5vw;

}

.left-1 img{
  position: absolute;
margin: 0 auto;
width: 20%;
margin-left: 3%;
height: auto;
opacity: 1;
bottom: 0;
margin-top: 30%;
}


.right-1 {
  align-items: center;
  width: 50%;

}

.introduction {
  margin: 0 auto;
  width: 70%;

}

h1 {
    font-size: 2.6vw;
  font-family: proxima-nova, sans-serif;
   font-weight: 400;
   margin-bottom: 2vw;
}

.txt-rotate {
    font-family: proxima-nova, sans-serif;
   font-weight: 400;
  color: white;

}


.container1 .text1 {
  font-family: proxima-nova, sans-serif;
   font-weight: 200;
  font-size: 1.5vw;
   padding-top: 20%;
}


.text1 {
  font-family: proxima-nova, sans-serif;
   font-weight: 200;
  font-size: 1.5vw;
}


/*
.text2 {

  color: :black;

  font-family: 'Roboto', sans-serif;

  margin-right: 5%;

  font-size: 0.8vw;

  line-height: 2vw;

  margin-top: 3%;

}
*/

.container2{
  margin-top: 10vw;
   background-color: #f2f2f2;
    float: left;
padding: 4vw;
  width: 100%;
  position: relative;
}

.column {
  float: left;
  width: 25%;
}

h2 {
    font-size: 1.5vw;

}

.column p {
    font-size: 1vw;
    font-weight: 200;
  line-height: 1vw;
}


@media screen and (max-width: 600px) {

.container2{
   background-color: #f2f2f2;
    float: left;
padding: 4vw;
  width: 100%;
}


  .column {
      position: relative;
  width: 50%;
}

.column p {
    font-size: 1v;
    font-weight: 200;
  line-height:0;
}



}
