.mainposter {
  margin-top: 3%;
  top: 0;
  margin-left: 10vw;
  width: 80vw;
    margin-bottom: 10%;

}

.mainposter img{
  width: 50%;
  margin-left: 25%;
}


.approwtitle {
  position: relative;

}

.approwtitle .title {
    margin-left: 10vw;
  font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-size: 4vw;
    padding-top: 4%;
    padding-bottom: 0;
    margin-bottom: 0;

}
.figmaimages {
  float: left;
  display: relative;
}

.album {
  padding-left: 10vw;
  padding-right: 10vw;
}


.approwtitle .subheading{
    margin-left: 10vw;
    margin-top: 0;
    padding-top: 1vw;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;

}

.approwdescription {
  float: left;
  width: 100%;
  top: 0;
  margin-top: 6vw;
}

.approwdescription .left {
  margin-left: 10vw;
  float: left;
  width: 40vw;
  height: 40vw;
}

.approwdescription .left .box1 {
  float: left;
    aspect-ratio: 16/9;
  width: 50%;
}


.approwdescription .left .title {
    margin-left: 0;
  font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-size: 1.1vw;

}

.approwdescription .left .text{
    margin-top: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.2vw;

}


.approwdescription .right {
  float: left;
  width: 40vw;
}

.approwdescription .right img {
   margin-right: 0;
   width: 100%;
}

hr {
  margin-left: 10vw;
  width: 80vw;
  margin-right: 10vw;
}


/*interactive prototype*/


.interactivePrototype {
  background-color: #F69421;
  margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5%;
    margin-bottom: 10%;
    align-content: center;
  


}


.interactivePrototype iframe {
  margin-top: 1%;
position: relative;
  width: 30vw;
  margin-left: 25vw;
        aspect-ratio: 6/12;


}

/*insight*/




.insight {
  float: left;
    width: 100%;
  margin-top: 2%;

}

.insight .title {
       padding-left: 10vw;
  width: 100%;
    color: #E75C40;
   font-family: proxima-nova, sans-serif;
    font-weight: 400;
font-style: normal;
letter-spacing: 0.2em;
    font-size: 1em;
    padding-top: 3vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

.insight .box {
    padding-top: 5vw;
    width: 100%;
      float: left;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;

}

.insight .left{
    float: left;
      width: 20%;
      margin-right: 10%;

}

.insight .right{
    float: left;
      width: 70%;

}



.insight .box .left .title2 {
    float: left;
    color: black;
  font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.insight .box .right .explain {
  width: 100%;
    float: left;
    color: black;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 3vw;
}

.insight .box .right .title-explain {
  width: 100%;
    float: left;
    color: #C16F53;
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-size: 2em;
    padding-bottom: 1vw;
}


.insight .box .right img {
  padding-bottom: 3vw;
}
/*row0*/
.approw0 {
  background-color: white;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.image {
  margin-top: 10%;
   margin-bottom: 10%;
   margin-left: 4vw;
    margin-right: 4vw;
}


.approw0 .text {
  border-radius: 10%;
  margin-right: 3%;
  margin-top: 8%;
  float: left;
  width: 27%;

}

.text .textcenter {
  color: #3B3B3B;
  margin-top: 10%;
  width: 100%;
  height: 80;
  margin-bottom: 10%;
}


.approw0 .title {
  padding-left: 10%;
  font-size: 2vw;
}


.approw0 .subheading {
  padding-left: 10%;
  font-size: 1.3vw;
}

.approw0 .role {
  color: #3B3B3B;
  padding-left: 10%;
  font-size: 1vw;
}


.approw0 .description {
  color: #3B3B3B;
  padding-left: 10%;
  font-size: 1.5vw;
}

.fridger3d {
  margin-left: 20%;
}

.figmaimages {
  float: left;
  display: relative;
}

.album {
  padding-left: 10vw;
  padding-right: 10vw;
}
