
.container1 {
float: left;
  margin-right: 4vw;
    margin-left: 4vw;
    width: 92vw;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container1 .left {
  float: left;
    align-content: center;
    display: flex;
    position: relative;
 justify-content: center;
  width: 50%;
}


.left img {
  width: 70%;
  height: auto;
}




.left .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 50pt;
  height: 50pt;
  background: radial-gradient( rgba(51,0,51, 0.8) 60%, rgba(51,0,51, 1) 62%);
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 25px 3px rgba(51,0,51, 0.8);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -25%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}





.container1 .right {
  width: 50%;
  align-content: center;
    float: left;
}

.container1 .textbox {
margin: auto;
margin-top: 8%;
}

.title {
      font-family: proxima-nova, sans-serif;
    font-weight: 700;
   font-size: 3.5vw;
   margin-left: 8%;
}

.description {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    width: 70%;

  margin-left: 8%;
}

.subheading{
  margin-left: 8%;
  color: #808080;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.4vw;

}

.click {
  margin-left: 8%;
  margin-top: 5%;
  margin-right: 5%;
}



.button {
  border: none;
  color: white;
  padding: 1vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #303;
  margin-right: 1vw;
}

.button1:hover {
  background-color: #303;
  color: white;
}


@media screen and (max-width: 600px) {

  .container1{
  }

.container1 .left {
    display: relative;
    min-width: 100%;
}

.left img {
  width: 60%;
  height: auto;
}



.right {
  margin-top: 5%;
      min-width: 100%;

  }


.container1 .textbox {
margin-top: 8%;
}

.title {
   font-size: 6vw;
   margin-left: 4vw;
}

.description {
       margin-left: 4vw;
    font-size: 2.4vw;
    width: 70%;

}

.subheading{
     margin-left: 4vw; color: #808080;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 2.2vw;

}

.click {
  margin-left: 4vw;

}



.button {
  border: none;
  color: white;
  padding: 2vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vw;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #303;
  margin-right: 2vw;
}


}

