* {box-sizing: border-box;}

body { 
  margin: 0;
}

.header {
  z-index: 100;
  width: 100%;
    font-weight: 100;
  overflow: auto;
  padding: 0px 0px;
  -webkit-box-shadow:0px 1px 1px #ECECEC;
 -moz-box-shadow:0px 1px 1px #ECECEC;
 box-shadow:0px 1px 1px #ECECEC;
}

.header a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  float: left;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}

@font-face {
  font-family: soojinfont;
  src: url(blob-round.ttf);
}

.logo {
  width: 16%;
  margin-right: 5%;
}


.name {
  float: left;
  margin-top: 2%;
    margin-left: 5%;
  padding-top: 0px;
  width: 18%;
}

.header-right {
  float: right;
  padding-top: 30px;
  margin-right: 3%;
}

.dropdowna {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 
  overflow: hidden;
}

.dropdowna .dropbtna {
    transform: translate(0, -31px);
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
}

.header a:hover, .dropbtna:hover {
    color:  #5B6399;
 
}

.dropdowna-contenta {
      transform: translate(0, -24px);
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdowna-contenta a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowna-contenta a:hover {
  background-color: white;
}

.dropdowna:hover .dropdowna-contenta{
  display: block;
}

