* {box-sizing: border-box;}

body { 
  margin: 0;
}

.header {
  z-index: 999;
  width: 100%;
  height: 10vw;
}

.header-right {
      display: flex;
          align-items: center;
    float: right;
    margin-right: calc(4vw - 30px);
  height: 10vw;

}

.header-right a {
   z-index: 999;
  font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;
  padding-left:30px;
  padding-right:30px;
  color: black;
  font-size: 1em; 
}

.logo {
  float: left;
  margin-left: 4vw;
  margin-top: 3vw;
  width: 4vw;
  margin-bottom: 4vw;
}

.logo:hover {
  opacity: 0.7;
}


.dropdowna {
  font-family: proxima-nova, sans-serif;
font-weight: 200;
font-style: normal;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;

  font-size: 1em; 
}

.dropbtna {
font-family: proxima-nova, sans-serif;
font-weight: 200;
  border: none;
  outline: none;
  background-color: inherit;

  font-family: inherit;
}

.header a:hover, .dropbtna:hover {
    color:  #E75C40;
 
}



.dropdowna-contenta {
   font-family: proxima-nova, sans-serif;
font-weight: 200;
font-style: normal;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdowna-contenta a {
    font-size: 1em; 
  margin-top: 0vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowna-contenta a:hover {
  background-color: #E75C40;
  color: white;
  font-weight: 400;
}

.dropdowna:hover .dropdowna-contenta{
  display: block;
}

