.container1 {
  position: relative;
  width: 100%;
}

.container1 .introduction {
  margin-left: 4vw;
    margin-right: 4vw;
}

.container1 .left {
  float: left;
   margin-top: 15%;
 width: 30%;
}


.container1 .right {
  float: right;
     width: 55%;
}


.container1 img {
  z-index: 99;
 margin-top: 15vw;
  width: 100%;
}

canvas {
  display: flex;
  padding-left: 30%;
  z-index: 10;
  width: 50%;
  height: 50%;
  top: 10%;
  z-index: 10;
}

   canvas:focus {

        outline:none;
    }

.container1 .left .text1 {
    color: #AF5D40;
    float: left;
    width: 100%;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.1em;

}




.container1 .left .text2 {
    float: left;
    width: 100%;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1.7vw;
    margin-bottom: 0;

}



.container2 {
  margin-top: 10%;
  float: left;
  width: 100%;
    margin-bottom: 10%;
}

.project {
 margin-left: 4vw;
  margin-right: 4vw;
}



.project .image {
  padding-top: 1%;
  width: 50%;
  float: left;
    padding-bottom: 1%;
}


.project img:hover{
    -webkit-transition: opacity 0.7s;
opacity: 0.2;
}



.leftimg img{
  padding-right: 1%;
}

.rightimg img{
  padding-left: 1%;
}




