.container1 {
  position: relative;
  width: 100%;
  height: 40vw;
  align-items: flex;
}

.container1 .introduction {
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 100%;
}

.container1 .introduction .homeleft {
  background-color: #E75C40;
  margin-left: 4vw;
  position: absolute;
  justify-items: center;
  border-top-right-radius: 45vw;
  width: 66vw;
  height: 100%;
}


.container1 .homeleft #text1 {
  margin-top: 15%;
  margin-left: 17%;
  max-width: 50%;
  text-align: left;    
  color: white;
    flex: left;
    font-family: proxima-nova, sans-serif bold;
      font-weight: 700;
    font-size: 5vw;

}

#text1 span {
    position: relative;
    display: inline-block;
}



.container1 .homeleft #text2 {
    color: white;
    margin-top: 2%;
      margin-left: 17%;
        max-width: 55%;
    font-family: proxima-nova, bold;
    font-weight: 400;
    font-size: 1.4vw;
    margin-bottom: 0;

}

.right {
  margin-right: 4vw;
}

#soojinprofile { 
  position: absolute;

  z-index: 9999;
  margin-left: 56vw;
 width: 20vw;
 bottom: 0;
}

#fullname {
  position: absolute;
  right: 4vw;
 width: 8vw;
 bottom: 0vw;
}

#fullname1 {
  position: absolute;
  right: 12vw;
width: 8vw;
 bottom: 8vw;
}

#fullname2 {
  position: absolute;
  right: 4vw;
width: 8vw;
 bottom: 16vw;
}

#fullname3 {
  position: absolute;
  right: 12vw;
width: 8vw;
 bottom: 24vw;
}



#threename {
  position: absolute;
  right: 30vw;
 width: 20vw;
 bottom: 0;
}




.cardBack
{
  position:absolute;
  margin-left: 30vw;
  width:40vw;
}


.cardBack img
{
  width: 26%;
 margin: 3%;
}



.container1 .right img#namefull-hover {

   position: absolute;
     margin: auto;
     width: 40%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
        object-fit: contain;
      opacity: 0;
      transition: opacity 1.5s;
    }


.container1 :hover img#namefull-hover {
  opacity: 1;

}

.container1:hover img#namefull {
  opacity: 0;
     transition: opacity 1.5s;

}





/*Container 2 */

.container2 {
  width: 100%;
  margin-top: 15vw;
    margin-bottom: 15vw;
}


.row {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 12%;
}

.column {
  position: relative;
  width: 46%;
}

.space {
  width: 8%;
  
}

.column img {
  -webkit-transition: opacity 0.4s;
  width: 100%;
  padding: 0;
  margin: 0;
}

.column .text {
  position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}


.text p{
  margin: 0;
  padding: 0;
}

 .column .uiuxTitle {
     -webkit-transition: opacity 0.4s;
  opacity: 0;
 font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;
  color: #303030;
  font-size: 4vw;
   line-height: 4.7vw;
}

 .column .subheading {
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #303030;
  font-weight: 400;
  font-size: 1.1vw;
}


 .column .uiuxDes {
  margin-top: 4%;
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #4e4e4e;
  font-size: 1.3vw;
  font-weight: 400;
}






.column:hover img{
    opacity: 0.2;
}



.column:hover  .uiuxTitle {
  opacity: 1;
}


.column:hover  .subheading {
  opacity: 1;
}


.column:hover  .uiuxDes {
  opacity: 1;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
   text-decoration: none;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

.container1 .homeleft {
  float: left;
  margin-top: 5%;
 width: 40%;
}



.container1 .right {
  float: left;
    top: -10vw;
     max-width: 100%;
       position: relative;
        z-index: -3;
}


.container1 .left #text1 {
    color: #AF5D40;
    float: left;
    width: 100%;
    font-family: proxima-nova, sans-serif;
font-weight: 600;
font-style: normal;
    font-size: 1.5em;

}



.container1 .homeleft #text2 {
    float: left;
    width: 60%;
    margin-right: 40%;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    margin-bottom: 0;

}



  .uiuxcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

   .uiuxcolumn .uiuxTitle {
      font-size: 5vw;
  transform: translate(0, -48vw);
}

 .uiuxcolumn .subheading {
        font-size: 3vw;
  transform: translate(0, -50vw);
}

 .uiuxcolumn .uiuxDes {
        font-size: 3vw;
  transform: translate(0, -52vw);
}
}
