.container1 {
  position: relative;
  width: 100%;
  height: 40vw;
  align-items: flex;
}

.container1 .introduction {
  width: 100%;
  position: absolute;
  height: 100%;
}



.container1 .introduction .left {
  background-color: #C16F53;
  margin-left: 4vw;
  position: absolute;
  justify-items: center;
  border-top-right-radius: 45vw;
  width: 66vw;
  height: 100%;
}


.container1 .left #text1 {
  padding-top: 15%;
  margin-left: 17%;
  max-width: 50%;
  text-align: left;    
  color: white;
    flex: left;
    font-family: proxima-nova, sans-serif bold;
      font-weight: 700;
    font-size: 5vw;

}



.container1 .left #text2 {
    color: white;
      margin-left: 17%;
        max-width: 62%;
    font-family: proxima-nova, bold;
    font-weight: 400;
    font-size: 1.4vw;
    margin-bottom: 0;

}

.right {
  margin-right: 4vw;
  background: purple;
}

#soojinprofile { 
  position: absolute;
  z-index: 9999;
  margin-left: 56vw;
 width: 20vw;
 bottom: 0;
}

#fullname {
  position: absolute;
  right: 4vw;
 width: 20vw;
 bottom: 0;
}



.cardFront, .cardBack
{
  position:absolute;
  opacity: 0%;
  margin-left: 30vw;
  width:40vw;
}



.container1 .right img#namefull-hover {

   position: absolute;
     margin: auto;
     width: 40%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
        object-fit: contain;
      opacity: 0;
      transition: opacity 1.5s;
    }


.container1 :hover img#namefull-hover {
  opacity: 1;

}

.container1:hover img#namefull {
  opacity: 0;
     transition: opacity 1.5s;

}





/*Container 2 */

.gallery {
  z-index: 99;
  margin-top: 10vw;
  display: relative;
      float: left;
  width: 100%;
}

.uiuxrow {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 92vw;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}




.uiuxcolumn {
  margin-right: 1%;
  margin-top: 0;
    margin-bottom: 0;
  margin-left: 1%;
  width: 100%;
  -ms-flex: 48%; /* IE10 */
  flex: 48%;
  max-width: 48%;
    content-align: center;
}

.uiuxrow .uiuxcolumn img {
  -webkit-transition: opacity 0.4s;
  width: 100%;
}



.uiuxcolumn p {
  text-align: left;
  margin-right: 20%;

    margin-left: 20%;
}


 .uiuxcolumn .uiuxTitle {
     -webkit-transition: opacity 0.4s;
  opacity: 0;
font-family: ltc-bodoni-175,serif;
font-weight: 400;
font-style: normal;
  color: #303030;
  font-size: 4vw;
  transform: translate(0, -22vw);
}

 .uiuxcolumn .subheading {
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #303030;
  font-weight: 400;
  font-size: 1.1vw;
  transform: translate(0, -23.5vw);
}


 .uiuxcolumn .uiuxDes {
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #4e4e4e;
  font-size: 1.3vw;
  font-weight: 400;
  transform: translate(0, -24vw);
}






.uiuxcolumn:hover img{
    opacity: 0.2;
}



.uiuxcolumn:hover  .uiuxTitle {
  opacity: 1;
}


.uiuxcolumn:hover  .subheading {
  opacity: 1;
}


.uiuxcolumn:hover  .uiuxDes {
  opacity: 1;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
   text-decoration: none;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

.container1 .left {
  float: left;
  margin-top: 5%;
 width: 40%;
}



.container1 .right {
  float: left;
    top: -10vw;
     max-width: 100%;
       position: relative;
        z-index: -3;
}


.container1 .left #text1 {
    color: #AF5D40;
    float: left;
    width: 100%;
    font-family: proxima-nova, sans-serif;
font-weight: 600;
font-style: normal;
    font-size: 1.5em;

}



.container1 .left #text2 {
    float: left;
    width: 60%;
    margin-right: 40%;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    margin-bottom: 0;

}



  .uiuxcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

   .uiuxcolumn .uiuxTitle {
      font-size: 5vw;
  transform: translate(0, -48vw);
}

 .uiuxcolumn .subheading {
        font-size: 3vw;
  transform: translate(0, -50vw);
}

 .uiuxcolumn .uiuxDes {
        font-size: 3vw;
  transform: translate(0, -52vw);
}
}
