

/*Container 1 */

.container1 {
  position: relative;
   height: 30vw;
   margin-left: 10%;
  width: 80%;
  margin-bottom: 1vw;


}

.soojin {
  position: absolute;
    left: 50%;
width: 20%;

}

.soojin img{
  width: 100%;

}


.project {
      margin-top: 23%;
            left: 33.5%;
            width: 36%;
    position: absolute;
}

.project img {
  width: 100%;
}


.yellow {
            left: 33.5%;
            width: 15%;
    position: absolute;
}

.yellow img {
  width: 100%;
}



/*Container 2 */

.container2 {
    position: relative;
    padding-top: 5vw;
  width: 100%;
  margin-top: 4vw;
    margin-bottom: 15vw;
}


.row {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 12%;
}

.column {
  position: relative;
  width: 46%;
}

.space {
  width: 8%;
  
}

.column img {
  -webkit-transition: opacity 0.4s;
  width: 100%;
  padding: 0;
  margin: 0;
}

.column .text {
  position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}


.text p{
  margin: 0;
  padding: 0;
}

 .column .uiuxTitle {
     -webkit-transition: opacity 0.4s;
  opacity: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
font-style: normal;
  color: #303030;
  font-size: 3vw;
   line-height: 4.7vw;
}

 .column .subheading {
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #303030;
  font-weight: 400;
  font-size: 1.1vw;
}


 .column .uiuxDes {
  margin-top: 4%;
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #4e4e4e;
  font-size: 1.3vw;
  font-weight: 400;
}






.column:hover img{
    opacity: 0.2;
}



.column:hover  .uiuxTitle {
  opacity: 1;
}


.column:hover  .subheading {
  opacity: 1;
}


.column:hover  .uiuxDes {
  opacity: 1;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
   text-decoration: none;
}



/*Arrow */

.arrowContainer {
  position: relative;
  height: 5vw;
   width: 100%;
}

.arrowContainer .arrow{
    position: absolute; 
    left: 50%;
    opacity: 0;
    bottom: -2vw;
}


.arrow span{
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 2px solid #E75C40;
    border-right: 2px solid #E75C40;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-15px,-15px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(15px,15px);
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

.container1 {
margin-top: 5vw;
padding-bottom: 5vw;
}

.container2 {
  margin-top: 20vw;
}

.column {
  position: relative;
  width: 100%;
  margin-bottom: 20%;
}

.row {
    margin-top: 0%;
}


 .column .uiuxTitle {
    font-size: 8vw;
       line-height: 10vw;

 }


 .column .subheading {
    font-size: 2.2vw;
       line-height: 3.2vw;

 }


  .column .uiuxDes {

  font-size: 2.8vw;
}


}