

/*Container 1 */

.container1 {
  position: relative;
   height: 50vw;
  width: 100%;


}

.soojin img{
  position: absolute;
  left: 50%;
}

.project img {
  position: absolute;
    left: 33.5%;
    top: 45%;
}




/*Container 2 */

.container2 {
  width: 100%;
  margin-top: 12vw;
    margin-bottom: 15vw;
}


.row {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 12%;
}

.column {
  position: relative;
  width: 46%;
}

.space {
  width: 8%;
  
}

.column img {
  -webkit-transition: opacity 0.4s;
  width: 100%;
  padding: 0;
  margin: 0;
}

.column .text {
  position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}


.text p{
  margin: 0;
  padding: 0;
}

 .column .uiuxTitle {
     -webkit-transition: opacity 0.4s;
  opacity: 0;
 font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;
  color: #303030;
  font-size: 4vw;
   line-height: 4.7vw;
}

 .column .subheading {
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #303030;
  font-weight: 400;
  font-size: 1.1vw;
}


 .column .uiuxDes {
  margin-top: 4%;
       -webkit-transition: opacity 0.4s;
  opacity: 0;
    font-family: proxima-nova, sans-serif;
  color: #4e4e4e;
  font-size: 1.3vw;
  font-weight: 400;
}






.column:hover img{
    opacity: 0.2;
}



.column:hover  .uiuxTitle {
  opacity: 1;
}


.column:hover  .subheading {
  opacity: 1;
}


.column:hover  .uiuxDes {
  opacity: 1;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
   text-decoration: none;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

.container1 .homeleft {
  float: left;
  margin-top: 5%;
 width: 40%;
}



.container1 .right {
  float: left;
    top: -10vw;
     max-width: 100%;
       position: relative;
        z-index: -3;
}


.container1 .left #text1 {
    color: #AF5D40;
    float: left;
    width: 100%;
    font-family: proxima-nova, sans-serif;
font-weight: 600;
font-style: normal;
    font-size: 1.5em;

}



.container1 .homeleft #text2 {
    float: left;
    width: 60%;
    margin-right: 40%;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    margin-bottom: 0;

}



  .uiuxcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

   .uiuxcolumn .uiuxTitle {
      font-size: 5vw;
  transform: translate(0, -48vw);
}

 .uiuxcolumn .subheading {
        font-size: 3vw;
  transform: translate(0, -50vw);
}

 .uiuxcolumn .uiuxDes {
        font-size: 3vw;
  transform: translate(0, -52vw);
}
}
